.skills-chart-container {
width: 100%;
height: 400px;
}
.mon-canvas {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .skills-chart-container {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .skills-chart-container {
        height: 200px;
    }
}