.main-apropos {
  width: 90%;
  margin: auto;
}
.titre-apropos {
  font-family: Playfair Display;
  text-align: center;
  color: #253479;
  font-size: 28px;
}
.computer-image {
  
  width: 100%; 
  height: auto;

}
.image-container {
  position: relative;
  width: 80%; 
  margin: auto;
  margin-bottom: 50px;
}

.text-about-me {
  color: #634c8f;
  text-align: center;
  margin-bottom: 50px;
}

.cv-img{
  width: 20%;
}

.graphique-container {
    width: 80%;
   
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }
  .apropos-text {
    font-size: 20px;
    font-family: Merriweather;
    color: #634c8f;
    text-align: center;
    line-height: 2;
  }
  .text-ps {
    font-family: Playfair Display ;
    text-align: center;
    color:  #634c8f;
    font-size: 20px;
  }
  .text-ps a {
    font-size: 20px;
  }
  
   @media screen and (max-width: 992px) {
    .titre-apropos {
      font-size: 22px;
    }
    .cv-img {
      width: 15%;
    }
    .graphique-container {
      width: 100%;
      min-height: 300px;
    }

   
  }
  @media screen and (max-width: 768px) {
    
    .titre-apropos {
      font-size: 20px;
    }
    .apropos-text {
      font-size: 14px;
    }
    .text-ps {
      font-size: 16px;
    }
    .text-ps a {
      font-size: 14px;
    }
    .cv-moi {
      font-size: 14px;
    }
    
    
  }