.header {
  width: 100%;
position: relative;
margin-bottom: 50px;
margin-top: 20px;
display: flex;
  justify-content:space-between;
  margin: auto;
  align-items: center;
}

.logo {
  width: 200px; 
  height: 200px;
}

.menu {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  position: relative;
  
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

a {
  color: #253479;
  font-size: 24px;
   position: relative;
   font-family: Playfair Display;
    white-space: nowrap;
}

 .menu li a {
  position: relative;
  color: #253479;
  font-size: 24px;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .menu li a {
    font-size: 18px;
  }
  nav ul {

 gap: 15px;
  } 
 
}
@media screen and (max-width: 425px) {
  nav ul{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  padding: 0;
  text-align: center;
   }
}


  









