footer {
    width: 100%;
    max-height: 80px;
    height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
}
.social-icons {
    height: 50px;
    display: flex;
    align-items: center;
}  
.social-icons a {
    font-size: 25px;
    margin: 0 10px;
    color: #253479;
    padding: 30px;
}
@media screen and (max-width: 768px) {
    .social-icons a {
        font-size: 20px;
    } 
}